<a href="https://colab.research.google.com/github/GunelXelilli/Pandaspart1/blob/main/pandaspart1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
masinlar=pd.Series(['BMW','TOYOTA','TESLA'])
masinlar

0       BMW
1    TOYOTA
2     TESLA
dtype: object

In [ ]:
marka=['BMW','TOYOTA','TESLA']
masinlar=pd.Series(marka)
masinlar

0       BMW
1    TOYOTA
2     TESLA
dtype: object

In [ ]:
masinlar[1]

'TOYOTA'

In [ ]:
masinlar.values

array(['BMW', 'TOYOTA', 'TESLA'], dtype=object)

In [ ]:
masinlar.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
masinlar=pd.Series(marka,index=['a','b','c'])
masinlar

a       BMW
b    TOYOTA
c     TESLA
dtype: object

In [ ]:
masinlar.index

Index(['a', 'b', 'c'], dtype='object')

In [ ]:
masinlar['a']

'BMW'

In [ ]:
bal={'Bayram':98,'Mehman':68,'Nazli':70}
a=pd.Series(bal)
a

Bayram    98
Mehman    68
Nazli     70
dtype: int64

In [ ]:
a['Mehman']

np.int64(68)

In [ ]:
a>80

Bayram     True
Mehman    False
Nazli     False
dtype: bool

In [ ]:
a[a>80]

Bayram    98
dtype: int64

In [ ]:
a['Bayram']=80
a

Bayram    80
Mehman    68
Nazli     70
dtype: int64

In [ ]:
'Nazli' in a

True

In [ ]:
a/10

Bayram    8.0
Mehman    6.8
Nazli     7.0
dtype: float64

In [ ]:
a//10

Bayram    8
Mehman    6
Nazli     7
dtype: int64

In [ ]:
a%2==0

Bayram    True
Mehman    True
Nazli     True
dtype: bool

In [ ]:
a.isnull().sum() # sum burada sayir true ve false 0+0=0 kimi

np.int64(0)

In [ ]:
a.isnull() # null deyer olub -olmadigini yoxlayir

Bayram    False
Mehman    False
Nazli     False
dtype: bool

In [ ]:
a.isna() #N/A xetasi olub olmadigini yoxlayir

Bayram    False
Mehman    False
Nazli     False
dtype: bool

#Dataframa

In [ ]:
#ctrl+m (2x) basilaraq yaradildi

In [ ]:
mar=pd.Series(['BMW','TESLA','TOYOTA'])
reng=pd.Series(['qara','ag','boz'])

In [ ]:
masinlar=pd.DataFrame({'marka':mar,'Reng':reng})
masinlar

    marka  Reng
0     BMW  qara
1   TESLA    ag
2  TOYOTA   boz

In [ ]:
data={'ad':['Bayram','Sevinc','Maryam','Teymur','Jasmine','Kamal','Ferman'],
      'cins':['k','q','q','k','q','k','k'],
      'bal':[67,98,34,78,78,78,90]
       }
df=pd.DataFrame(data)
df

        ad cins  bal
0   Bayram    k   67
1   Sevinc    q   98
2   Maryam    q   34
3   Teymur    k   78
4  Jasmine    q   78
5    Kamal    k   78
6   Ferman    k   90

In [ ]:
df.head() #ilk 5 setir ama icinde 3 falan yazsam 3 unu gorece, df.head(3)

        ad cins  bal
0   Bayram    k   67
1   Sevinc    q   98
2   Maryam    q   34
3   Teymur    k   78
4  Jasmine    q   78

In [ ]:
df.tail() #son 5 setir

        ad cins  bal
2   Maryam    q   34
3   Teymur    k   78
4  Jasmine    q   78
5    Kamal    k   78
6   Ferman    k   90

In [ ]:
df.sample() #random sekilde deyer getirir ve icine ne qeder (3) yazsam o qeder cixacaq

       ad cins  bal
6  Ferman    k   90

In [ ]:
df=pd.DataFrame(data,columns=('ad','cins','bal','yas'))
df

In [ ]:
df['status']='telebe'
df

In [ ]:
df['yas']=18
df

In [ ]:
df.isnull().sum()

In [ ]:
df['cins']

In [ ]:
df[['cins','yas']] # iki ve daha cox sutun getirmek isteyirikse onda [[ ]] ic-ice yazmaq lazimdir

In [ ]:
df.ad

In [ ]:
df.iloc[2] # index location

In [ ]:
df.iloc[2,[2,3]] # 2-ci setir,(2,3)-sutun melumatlara

In [ ]:
df.loc[2,['bal']] #loc sutun adlarinin hansi indeksde olduqlarini bilir

In [ ]:
df.loc[2,5,['ad,'yas']]

In [ ]:
deyerler=[18,29,18,78,34]
#ardi var

In [ ]:
df['Imtkec']=df['bal']>50
df

In [ ]:
del df['Imtkec']
df

In [ ]:
df.T #transpose edir

In [ ]:
df[0:4]

In [ ]:
df=df.drop('yas',axis=1) #axis=1 sutun olaraq qebul edilir,axis=0 ise setir olaraq qebul edilir
df # birdefelik silmek ucun df=df.drop etmek lazimdir sadese df.drop yazsaq bir muddetlik gosterecek tam silmeyecek

In [ ]:
df.drop(3,axis=0,inplace=True) #inplace=True yazanda artiq df=df.drop yazmaga
#gerek yoxdu 3 cu sutunde silinir artiq inplace=true yazmaqla

In [ ]:
df.sort_index(ascending=False)

In [ ]:
df.sort_index(axis=1) #sutun adlarini siralayir ve sensitivdir boyuk kicik heriflere qarsi

In [ ]:
df.sort_values("bal","ad")